<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정 페이지</title>
</head>
<body>
<h1>글 수정 페이지</h1>
<form action="/board/edit/{id}" method="post">
    <input type="hidden" th:name="_method" th:value="put">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" th:value="${board.title}"><br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" th:text="${board.content}"></textarea><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>