.request-button,
.free-button,
.activity-button,
.MYPAGE-button,
.FAG-button {
  font-family: 'Istok Web', sans-serif;
  font-size: var(--heading3);
  background-color: transparent;
  color: #27272E; 
  padding: 8px 32px;
  border: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s; /* 트랜지션 추가 */
  text-decoration: none; /* 밑줄 제거 */
}

.request-button:hover,
.free-button:hover,
.activity-button:hover,
.MYPAGE-button:hover,
.FAG-button:hover {
  color: #33C69A; /* 버튼 hover 상태일 때 글씨 색상 변경 */
  background-color: transparent; /* 버튼 hover 상태일 때 배경 색상을 투명으로 설정 */
  /* hover 상태일 때의 스타일 설정 */
}

.logo_container {
    margin-right: 5px; /* 원하는 간격 설정 */
  }
  
.logo_image {
  width: 200px; /* 이미지 크기 조절 */
  height: auto;
  /* 다른 스타일 설정 */
}
